{{yield}}

{{#if addBar}}
<div>
  <form>
    <h3>Add A New Bar</h3>
    <div class="form-group">
      {{input value=name id="name" class="form-control" placeholder="Bar Name"}}
    </div>

    <div class="form-group">
      {{input value=location id="location" class="form-control" placeholder="Location"}}
    </div>

    <div class="form-group">
      {{input value=longitude id="longitude" class="form-control" placeholder="Longitude"}}
    </div>

    <div class="form-group">
      {{input value=latitude id="latitude" class="form-control" placeholder="Latitude"}}
    </div>

    <button {{action "saveBar" category}} class="btn btn-default">Add</button>
    <button {{action 'barFormHide'}} class="btn btn-default">Cancel</button>
  </form>
</div>
{{else}}
<button {{action 'barFormShow'}} class="btn btn-default">Click to Add a Bar</button>
{{/if}}
