{{yield}}


<ul class="list-group">
  <li class="list-group-item">{{model.tagline}}</li>
  <li class="list-group-item"><small>{{model.userName}}</small></li>
  <li class="list-group-item">{{model.dateVisited}}</li>
  <li class="list-group-item">{{model.reasonRating}}</li>
  <li class="list-group-item">{{model.diveRating}}</li>
  <li class="list-group-item">{{model.anecdotes}}</li>
  <li class="list-group-item">{{model.happyHour}}</li>
  <li class="list-group-item">{{update-review update="update" review=model}}</li>
</ul>

<br>
