{{yield}}


<ul class="list-group">
  <li class="list-group-item">{{model.tagline}}<br>
    <small>Review by: {{model.userName}}</small></li>
  <li class="list-group-item">Visited:<br> {{model.dateVisited}}</li>
  <li class="list-group-item">Reason Rating:<br> {{model.reasonRating}}</li>
  <li class="list-group-item">Diviness:<br> {{model.diveRating}}</li>
  <li class="list-group-item">What happened?<br> {{model.anecdotes}}</li>
  <li class="list-group-item">Happy Hour?<br> {{model.happyHour}}</li>
  <li class="list-group-item">{{update-review update="update" review=model}}</li>
  <li class="list-group-item"><button class="btn btn-danger" {{action 'deleteReview' model}}>Delete</button></li>
</ul>

<br>
