{{outlet}}

<h2>
  {{model.name}}<br>
  <small>{{model.location}}</small>
</h2>

<ul style="list-style:none">
  {{#each model.reviews as |review|}}
    {{review-tile update="update" deleteReview="deleteReview" model=review}}
  {{/each}}
</ul>

{{new-review saveReview="saveReview" bar=model}}
